{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add coupons to user</h2>
                    <p>Add coupons to user electrokart.com</p>
                </div>
                <div>
                    
                    <a href="#" class="btn btn-primary btn-sm rounded">back</a>
                </div>
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <label>Select coupon</label><br>
                        <select name="code" id="code">
                            {% for i in  all_coupons %}
                            <option value="{{i.id}}">{{i.code}}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <label>Is Active</label><br>
                        <select name="status" id="status">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                        <br><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
{% endblock %}