{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add user</h2>
                </div>
                <div>
                    <a href="{% url 'maincat_list' %}" class="btn btn-primary btn-sm rounded">back</a>
                </div>
            </div>
            <div class="card mb-4">
                 <!-- card-header end// -->
                <div class="card-body">
                    <form action="{% url 'addmaincatlist' %}" method="POST">{% csrf_token %}
                        {% if messages %}
                          {% for message in messages %}
                            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                          {% endfor %}
                        {% endif %}
                        <div>
                          <label for="username">Enter new Category</label>
                          <input type="text" id="catname" name="catname" class="form-control" style="width:200px;" required><br><br>
                          
                          <button type="submit" class="btn btn-primary">Add Category</button>
                        </div>
                      </form>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
{% endblock %}