{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title"> Add products</h2>
                    <p>add products here</p>
                </div>
                <div>
                    
                    <a href="{% url 'product_list' %}" class="btn btn-primary btn-sm rounded">Back to list</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            
                        </div>
                        <div class="col-md-2 col-6">
                            
                        </div>
                        <div class="col-md-2 col-6">
                            
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label>Main Category:</label>
                        <select name="main_category">
                            {% for category in main_category %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>Title:</label>
                        <input type="text" name="title"><br><br>
                        <label>Base name (for similar variants):</label>
                        <input type="text" name="base_name"><br><br>
                        <label>Our Price:</label>
                        <input type="number" name="our_price"><br><br>
                        <label>Real Price:</label>
                        <input type="number" name="real_price"><br><br>
                        <label>Description:</label>
                        <textarea name="description"></textarea><br><br>
                        <label>Main Image:</label>
                        <input type="file" name="main_img"><br><br>
                        <label>Additional Images:</label>
                        <input type="file" name="images" multiple><br><br>

                        <div id="highlights-container">
                            <label>Product Highlights:</label><br>
                            <!-- Existing highlights will be displayed here -->
                        </div>
                        <button type="button" onclick="addHighlightField()">Add Product Highlight</button><br><br>
                        <div id="features-container">
                            <div class="feature-container">
                              <label>Enter Feature & Feature description</label><br>
                              <textarea class="feature-input" name="features[]" placeholder="Enter feature"></textarea>
        
                              <textarea class="feature-description" name="feature_descriptions[]" placeholder="Enter feature description"></textarea>
                            </div>
                          </div>
                          <button type="button" onclick="addFeatureField()">Add Feature</button><br><br>
                        <button type="submit">Submit</button>

                    </form>
                    
                </div> 
                <script>
                    function addHighlightField() {
                        const container = document.getElementById('highlights-container');
                        const textarea = document.createElement('textarea');
                        textarea.setAttribute('name', 'highlights[]');
                        textarea.setAttribute('placeholder', 'Enter product highlight');
                        container.appendChild(textarea);
                    }
                    function addFeatureField() {
                        const container = document.getElementById('features-container');
                        const featureDiv = document.createElement('div');
                        featureDiv.setAttribute('class', 'feature-container');

                        const featureInput = document.createElement('textarea');
                        //featureInput.setAttribute('type', 'text');
                        featureInput.setAttribute('class', 'feature-input');
                        featureInput.setAttribute('name', 'features[]');
                        featureInput.setAttribute('placeholder', 'Enter feature');

                        const featureDescription = document.createElement('textarea');
                        featureDescription.setAttribute('class', 'feature-description');
                        featureDescription.setAttribute('name', 'feature_descriptions[]');
                        featureDescription.setAttribute('placeholder', 'Enter feature description');

                        featureDiv.appendChild(featureInput);
                        featureDiv.appendChild(featureDescription);
                        container.appendChild(featureDiv);
                    }
                </script>
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
{% endblock %}