{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Main category</h2>
                    
                </div>
                <div>
                    
                    <a href="{% url 'maincat_list' %}" class="btn btn-primary btn-sm rounded">back</a>
                </div>
            </div>
            <div class="card mb-4">
                 <!-- card-header end// -->
                <div class="card-body">
                  <form action="{% url 'editmaincatlist' main_category.id %}" method="POST">
                    {% csrf_token %}
                
                                    {% if messages %}
                                    {% for msg in messages %}
                                    <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{msg}}</p>
                                    {% endfor %}
                                    {% endif %}
                  <div>
                    <label for="username" class="form-label">Category name:</label>
                    <input type="text" id="catname" class="form-control" style="width: 300px;" name="catname" value="{{ main_category.name }}" required><br><br>
                    
                    <button type="submit" class="btn btn-primary">Edit</button><br><br>
                  </div>
                </form>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
{% endblock %}