{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit order</h2>
                    <p>Edit your order here</p>
                </div>
                <div>
                    
                    <a href="{% url 'orders_list' %}" class="btn btn-primary btn-sm rounded">back</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <label>Select user</label><br>
                        <select name="user" class="form-control" style="width:200px;"><br>
                            {% for i in all_users %}
                                <option value="{{i.id}}" {% if i.id == my_order.user.id %}selected{% endif %}>{{i.username}}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>Change product</label><br>
                        <select name="product" class="form-control" style="width:200px;">
                            {% for i in all_products %}
                                <option value="{{i.id}}" {% if i.id == my_order.Product.id %}selected{% endif %}>{{i.title}}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>My address</label><br>
                        <select name="address" class="form-control" style="width:200px;">
                            {% for i in all_address %}
                                <option value="{{i.id}}" {% if i.id == my_order.address.id %}selected{% endif %}>{{i.name}}-{{i.locality}}-{{i.city}}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>Quantity</label><br>
                        <input type="number" name="quantity" class="form-control" style="width:200px;" value="{{my_order.quantity}}"><br><br>
                        <label>Order Status</label><br>
                        <select name="status" class="form-control" style="width:200px;">
                            {% for i in status_choices %}
                                <option value="{{i.0}}" {% if i.0 == my_order.status %}selected{% endif %}>{{i.1}}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>Delivery_date</label><br>
                        <input type="datetime-local" id="id_delivery_date" name="delivery_date" class="form-control" style="width:200px;" value="{{ my_order.delivery_date|date:'Y-m-d\TH:i' }}"><br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
{% endblock %}