{% extends 'myadmin/base.html' %}
{% block content %}
{% load static %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">{{user.username}} 's  used coupons</h2>
            <p>Delete to make user reuse the coupon</p>
        </div>
        <div>
            <a href="{% url 'userslist_coupon' %}" class="btn btn-primary btn-sm rounded">back</a>
            
        </div>
    </div>
    <div class="card mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col" class="text-end"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in my_coupons %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><b>{{ i.coupon.code }}</b></td>
                            
                            
                            <td class="text-end">
                                <a href="{% url 'delete_mycoupon' i.id %}" class="btn btn-md rounded font-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div>
    </div> <!-- card end// -->
    
</section>
{% endblock %}