{% extends 'users/base.html' %}
{% block content %}
{% load static %}
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow">Home</a>
            <span></span> Shop
            <span></span> Checkout
        </div>
    </div>
</div>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-sm-15">
                <div class="toggle_info">
                    <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                </div>
                <div class="panel-collapse collapse login_form" id="loginform">
                    <div class="panel-body">
                        <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Username Or Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login_footer form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                        <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                    </div>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-md" name="login">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="toggle_info">
                    <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                </div>
                <div class="panel-collapse collapse coupon_form " id="coupon">
                    <div class="panel-body">
                        <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Enter Coupon Code...">
                            </div>
                            <div class="form-group">
                                <button class="btn  btn-md" name="login">Apply Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="divider mt-50 mb-50"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-25">
                    <h4>Select your Address and payment method</h4>
                </div>
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% elif success_message %}
                    <p>{{ success_message }}</p>
                {% endif %}
                <form id="orderForm" action="{% url 'paymentdone' %}" method="post">
                    {% csrf_token %}
                    {% for ad in my_address %}
                    <div class="form-check mt- mb-5">
                        <input class="form-check-input" type="radio" value="{{ ad.id }}" name="custid" id="custid{{ forloop.counter }}" {% if ad.id == newly_added_address_id %} checked {% endif %} required>
                        <label class="form-check-label fw-bold"> Address: {{forloop.counter}} </label>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ad.name}}</h5>
                            <h6>{{ad.housename}}</h6>
                            <p>{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
                            <p><a href="{% url 'editaddress' ad.id %}" class="btn-small">Edit</a></p>
                        </div>
                    </div>
                    {% endfor %}
                    <a href="{% url 'addaddress' %}" class="btn btn-fill-out submit">Add Address</a>
                
                    <div style="margin-top: 60px;">
                        <div><h3>PAYMENT METHOD</h3></div>
                        <div class="form-check mt- mb-5">
                            <input class="form-check-input" type="radio" name="payment_method" value="cash" id="cash" required>
                            <label class="form-check-label fw-bold" for="cash_on_delivery">Cash on Delivery</label>
                        </div>
                        <div class="form-check mt- mb-5">
                            <input class="form-check-input" type="radio" name="payment_method" value="online" id="online" required>
                            <label class="form-check-label fw-bold" for="pay_now">PAY NOW</label>
                        </div>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-warning mt-3 px-5 fw-bold" onclick="validateForm()">Place Order</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="mb-20">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{item.product.main_img.url}}" alt="#"></td>
                                    <td>
                                        <h5>{{item.product.title}}</a></h5> <span class="product-qty">x {{item.quantity}}</span>
                                    </td>
                                    <td>Rs. {{item.total_cost}}</td>
                                </tr>
                                {% endfor %}
                                
                                <tr>
                                    <th>SubTotal</th>
                                    <td class="product-subtotal" colspan="2">Rs. {{total_amount}}</td>
                                </tr>
                                <tr>
                                    <th>Discount</th>
                                    <td class="product-subtotal" colspan="2">Rs. {{discount_amount}}</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td colspan="2"><em>Free Shipping</em></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">Rs. {{amount}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function validateForm() {
        var form = document.getElementById('orderForm');
        var isValid = true;

        // Check if all required fields are filled
        var elements = form.elements;
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].hasAttribute('required') && elements[i].value.trim() === '') {
                isValid = false;
                break;
            }
        }

        // Display alert if any required field is empty
        if (!isValid) {
            alert('Please fill in all required fields.');
        } else {
            // Submit the form if all fields are filled
            form.submit();
        }
    }
</script>
{% endblock %}