{% extends 'users/base.html' %}
{% block content %}
{% load static %}
<div class="page-header breadcrumb-wrap" style="background-color: white;">
    <div class="container">
        <div class="breadcrumb">
        </div>
    </div>
</div>
<section class="hero-2 bg-green">
    <div class="hero-content">
        <div class="container">
            <div class="text-center">
                <h4 class="text-brand mb-20">Get in touch</h4>
                <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                    Let's Talk About <br>Your <span class="text-style-1">Idea</span>
                </h1>
                <p class="w-50 m-auto mb-50 wow fadeIn animated">"Welcome to your platform which is dedicated to nurturing innovative concepts! We believe in the power of collaboration and fostering groundbreaking ideas. This space is where your vision takes center stage. Share your thoughts, dreams, and projects with us. We're here to actively engage, listen, and explore the potential of your ideas. Let's embark on a conversation that sparks creativity, innovation, and meaningful progress together."</p>
                <p class="wow fadeIn animated">
                    <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up" href="#">About Us</a>
                    <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up">Support Center</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-border pt-50 pb-50">
    <div class="container">
        <div id='map-panes' class="leaflet-map mb-50"></div>
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h4 class="mb-15 text-brand">Office</h4>
                Chengennur,Alappuzha<br>
                Kerala, 689124, India<br>
                <span title="Phone">Phone: +91 9745540691</span><br>
                <span title="Email">Email: brightybabu2001@gmail.com</span><br>
                <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h4 class="mb-15 text-brand">Garage</h4>
                205 North Bangaluru Avenue, Suite 810<br>
                Karnataka, 60601, India<br>
                <span title="Phone">Phone: +91 9745540691</span> <br>
                <span title="Email">Email: electrokartgarage@gmail.com </span><br>
                <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
            </div>
            <div class="col-md-4">
                <h4 class="mb-15 text-brand">Godown</h4>
                205 North Michigan Avenue, Suite 810<br>
                Chicago, 60601, USA<br>
                <span title="Phone">Phone:</span> (123) 456-7890<br>
                <span title="Email">Email: elecrokartgodown@gmail.com</span><br>
                <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"> <i class="fi-rs-marker mr-10"></i> View map</a>
            </div>
        </div>
    </div>
</section>
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 m-auto">
                <div class="contact-from-area padding-20-row-col wow FadeInUp">
                    <h3 class="mb-10 text-center">Drop Us a Line</h3>
                    <p class="text-muted mb-30 text-center font-sm">Electrokart Team</p>
                    <form class="contact-form-style text-center" id="contact-form" action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input name="name" placeholder="First Name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input name="email" placeholder="Your Email" type="email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input name="telephone" placeholder="Your Phone" type="tel">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input name="subject" placeholder="Subject" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="textarea-style mb-30">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <button class="submit submit-auto-width" type="submit">Send message</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}