{% extends 'users/base.html' %}
{% block content %}
{% load static %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab"  href="{% url 'loginpage' %}"  aria-controls="dashboard" aria-selected="true"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" href="{% url 'mycoupons' %}" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>My Coupons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" href="{% url 'mywallet' %}" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>My Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="address-tab" href="{% url 'myaddress' %}"  aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab"  href="{% url 'customer_info' name=request.user.username %}"  aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        
                                    </ul>
                                    <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Logout" class="button">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard">
                                    <div class="card">
                                        {% for i in my_address %}
                                        <div class="card-header">
                                            <h5>Address {{ forloop.counter }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <address>{{ i.name}}<br>
                                                {{i.house_name}}, <br>{{i.locality}} , {{i.city}}</address>
                                            <p>{{i.state}}</p>
                                            <a href="{% url 'editaddress' i.id %}" class="btn-small">Edit</a><br>
                                            
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="{% url 'addaddress' %}" class="btn btn-fill-out submit">Add Address</a>

                            </div>
                            
                        </div>
                            
                                
                                    
                                
                    
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}