{% extends 'users/base.html' %}
{% block content %}
{% load static %}
<section class="mt-50 mb-50">
    <div class="container">
        <div style="margin-bottom: 30px;"><h3>CLick the below button to proceed with the payment</h3></div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <h1>Thank you, customer!</h1>
                        <p>Your payment/cash on delievery is done.</p>
                        <a href="{% url 'myorders' %}" class="btn btn-primary">My orders</a>
                        <a href="{% url 'invoice' id=order_id %}" class="btn btn-primary">display invoice</a>
                    </div>
                        
                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>


                </div>
            </div>
    </div>
</section>
{% endblock %}
